<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduler</title>
    <link rel="stylesheet" href="../static/schedule.css">

</head>

<body>
    <div class="header">
        <h1>Host Page</h1>
        <br>
        <h2>Schedule Reoccurring Meeting Times</h2>
    </div>

    <form method="POST" action="" id="team" name="host">
        <br>
        <h1 id="event"><input id="eventName" type="text" id="eventName" name="InputEventName" value="Input Event Name">
        </h1>
        <br>

        <h3>Team Member Names:</h3>
        <h6>(Max 5 People per Team)</h6>
        <br>

        <h4>Team Host:</h4>
        <p><input type="text" name="name1" value="Enter Name" id="name1"></p>
        <br>
        <h4>Other Members:</h4>
        <p><input type="text" name="name2" id="name2"></p>
        <br>
        <p><input class='new' type='text' name='name3' id='name3'></p>
        <br>
        <p><input class='new' type='text' name='name4' id='name4'></p>
        <br>
        <p><input class='new' type='text' name='name5' id='name5'></p>
        <br>

        <h4>Length of Meeting</h4>
        <br>
        <label for="meetingTime">Choose a length:</label>
        <select id="meetingTime" name="meetingTime">
            <option name="30min" value="30 min">30 min</option>
            <option name="60min" value="60 min">1 hr</option>
            <option name="90min" value="90 min">1.5 hr</option>
            <option name="120min" value="120 min">2 hr</option>
            <option name="150min" value="150 min">2.5 hr</option>
            <option name="180min" value="180 min">3 hr</option>


        </select>
        <br>
        <br>
        <p><input class="submit" type="submit" value="Submit"></p>
        <br>
        <br>


    </form>
    <footer>
        <img src="../static/footer.jpg " alt="footer " title="footer " width="100% " height="200px ">
    </footer>
</body>

</html>

</html>