<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduler</title>
    <link rel="stylesheet" href="../static/schedule.css">

</head>

<body>
    <script>
        // function addMem() {
            // let newDiv = document.createElement('div');
           //  newDiv.innerHTML = "<span id='inputBox'><input class='new' type='text' name='name' value='' id='newInputBox'><br><br></span>";
             // document.getElementById("others").appendChild(newDiv);
       // }

       // function delMem(){
        //    let input = document.getElementById("inputBox");
        //    input.remove();
       // }

        function saveInfo(){
         
            document.getElementById('p1').innerHTML = document.meetinginfo.name1.value;
            document.getElementById('p2').innerHTML = document.meetinginfo.name2.value;
            document.getElementById('p3').innerHTML = document.meetinginfo.name3.value;
            document.getElementById('p4').innerHTML = document.meetinginfo.name4.value;
            document.getElementById('p5').innerHTML = document.meetinginfo.name5.value;
            document.getElementById('meetName').innerHTML = document.meetinginfo.InputEventName.value;
            document.getElementById('meetLength').innerHTML = document.meetinginfo.meetingTime.value;

        }

        const button = document.createElement("Button") ,  buttonTxt = document.createTextNode("Select Times");
        button.setAttribute('onclick', 'foo()')  // add click function to button
        button.name = "button";
        button.value = "button"
        button.id = "button1"
        button.onclick = function(){alert('Choose your available times')}
        button.appendChild(buttonTxt);

        function foo() {
            alert('hello')
        }

        function createButton(){
          

            let name1 = document.getElementById("name1");
            let name2 = document.getElementById("name2");
            let name3 = document.getElementById("name3");
            let name4 = document.getElementById("name4");
            let name5 = document.getElementById("name5");

            document.querySelectorAll('#name1,#name2,#name3,#name4,#name5')
            .forEach(nm=>
            {
            if(nm.value) 
            document.getElementById(`b${nm.id.replace(/^\D+/g,'')}`) // get correspondig B1-5
                      .appendChild(button.cloneNode(true))  // add a button
            })

        
        }

        
        let times = []
        document.getElementById("")
        
        
    </script>
   
    <div class="header">
        <h1>Schedule Reoccurring Meeting Times</h1>
        <br>
        <p>Developed by Babson Students</p>
    </div>

    <form action="" id="team" name="meetinginfo">
        <br>
        <h1 id="event"><input id="eventName" type="text" id="eventName" name="InputEventName" value="Input Event Name"></h1>
        <br>

        <h3>Team Member Names:</h3>
        <h6>(Max 5 People per Team)</h6>
        <br>
        
        <h4>Team Host:</h4>
        <p><input type="text" name="name1" value="Enter Name" id="name1"></p>
        <br>
        <h4>Other Members:</h4>
        <p><input type="text" name="name2" id="name2"></p> 
        <br>
        <p><input class='new' type='text' name='name3' id='name3'></p>
        <br>
        <p><input class='new' type='text' name='name4' id='name4'></p>
        <br>
        <p><input class='new' type='text' name='name5' id='name5'></p>
        <br> 
        
        <h4>Length of Meeting</h4>
        <br>
        <label for="meetingTime">Choose a length:</label>
        <select id="meetingTime" name="meetingTime">
          <option name="30min" value="30 min">30 min</option>
          <option name="60min" value="60 min">1 hr</option>
          <option name="90min" value="90 min">1.5 hr</option>
          <option name="120min" value="120 min">2 hr</option>
          <option name="150min" value="150 min">2.5 hr</option>
          <option name="180min" value="180 min">3 hr</option>
          

        </select>
        <br>
        <br>
        <p><input class="submit" type="submit" value="Submit" onclick="saveInfo(); createButton(); return false" ></p>
        <br>
        <br>


    </form>

    <br>
    <br>
    <p>
        Members of a team will each select their available times and the optimal times for everyone to meet will be outputted.
    </p>
    <br>
    <div class="row">
        <div class="column">
            <h2>Select Times:</h2>
            <br>
            <form action="#" id="grid-form">

                <table id="grid" class="grid">

                    <thead>
                        <tr>
                            <th></th>

                            <th data-dow="sun" data-index="0">Sun<span class="box"></span></th>
                            <th data-dow="mon" data-index="1">Mon<span class="box"></span></th>
                            <th data-dow="tue" data-index="2">Tues<span class="box"></span></th>
                            <th data-dow="wed" data-index="3">Wed<span class="box"></span></th>
                            <th data-dow="thur" data-index="4">Thur<span class="box"></span></th>
                            <th data-dow="fri" data-index="5">Fri<span class="box"></span></th>
                            <th data-dow="sat" data-index="6">Sat<span class="box"></span></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr data-time="0">
                            <th>12:00pm</th>
                            <td data-dow="6" data-index="0"><label for="avail-sun-12pm" id="avail-sun-12pm-label"><span class="box" data-checked-time="You are available Sundays at &lt;time&gt;12pm&lt;/time&gt;." data-unchecked-time="Are you available Sundays at &lt;time&gt;12pm&lt;/time&gt;?">Are you available Sundays at <time>12pm</time>?</span></label>
                                <input type="checkbox" name="sun-12pm" id="avail-sun-12pm" aria-describedby="avail-sun-12pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="0" data-index="1"><label for="avail-mon-12pm" id="avail-mon-12pm-label"><span class="box" data-checked-time="You are available Mondays at &lt;time&gt;12pm&lt;/time&gt;." data-unchecked-time="Are you available Mondays at &lt;time&gt;12pm&lt;/time&gt;?">Are you available Mondays at <time>12pm</time>?</span></label>
                                <input type="checkbox" name="mon-12pm" id="avail-mon-12pm" aria-describedby="avail-mon-12pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="1" data-index="2"><label for="avail-tue-12pm" id="avail-tue-12pm-label"><span class="box" data-checked-time="You are available Tuesdays at &lt;time&gt;12pm&lt;/time&gt;." data-unchecked-time="Are you available Tuesdays at &lt;time&gt;12pm&lt;/time&gt;?">Are you available Tuesdays at <time>12pm</time>?</span></label>
                                <input type="checkbox" name="tue-12pm" id="avail-tue-12pm" aria-describedby="avail-tue-12pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="2" data-index="3"><label for="avail-wed-12pm" id="avail-wed-12pm-label"><span class="box" data-checked-time="You are available Wednesdays at &lt;time&gt;12pm&lt;/time&gt;." data-unchecked-time="Are you available Wednesdays at &lt;time&gt;12pm&lt;/time&gt;?">Are you available Wednesdays at <time>12pm</time>?</span></label>
                                <input type="checkbox" name="wed-12pm" id="avail-wed-12pm" aria-describedby="avail-wed-12pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="3" data-index="4"><label for="avail-thur-12pm" id="avail-thur-12pm-label"><span class="box" data-checked-time="You are available Thursdays at &lt;time&gt;12pm&lt;/time&gt;." data-unchecked-time="Are you available Thursdays at &lt;time&gt;12pm&lt;/time&gt;?">Are you available Thursdays at <time>12pm</time>?</span></label>
                                <input type="checkbox" name="thur-12pm" id="avail-thur-12pm" aria-describedby="avail-thur-12pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="4" data-index="5"><label for="avail-fri-12pm" id="avail-fri-12pm-label"><span class="box" data-checked-time="You are available Fridays at &lt;time&gt;12pm&lt;/time&gt;." data-unchecked-time="Are you available Fridays at &lt;time&gt;12pm&lt;/time&gt;?">Are you available Fridays at <time>12pm</time>?</span></label>
                                <input type="checkbox" name="fri-12pm" id="avail-fri-12pm" aria-describedby="avail-fri-12pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="5" data-index="6"><label for="avail-sat-12pm" id="avail-sat-12pm-label"><span class="box" data-checked-time="You are available Saturdays at &lt;time&gt;12pm&lt;/time&gt;." data-unchecked-time="Are you available Saturdays at &lt;time&gt;12pm&lt;/time&gt;?">Are you available Saturdays at <time>12pm</time>?</span></label>
                                <input type="checkbox" name="sat-12pm" id="avail-sat-12pm" aria-describedby="avail-sat-12pm">
                                <div>
                                </div>
                            </td>
                        </tr>
            
                        <tr data-time="1">
                            <th>1:00pm</th>
                            <td data-dow="6" data-index="0"><label for="avail-sun-1pm" id="avail-sun-1pm-label"><span class="box" data-checked-time="You are available Sundays at &lt;time&gt;1pm&lt;/time&gt;." data-unchecked-time="Are you available Sundays at &lt;time&gt;1pm&lt;/time&gt;?">Are you available Sundays at <time>1pm</time>?</span></label>
                                <input type="checkbox" name="sun-1pm" id="avail-sun-1pm" aria-describedby="avail-sun-1pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="0" data-index="1"><label for="avail-mon-1pm" id="avail-mon-1pm-label"><span class="box" data-checked-time="You are available Mondays at &lt;time&gt;1pm&lt;/time&gt;." data-unchecked-time="Are you available Mondays at &lt;time&gt;1pm&lt;/time&gt;?">Are you available Mondays at <time>1pm</time>?</span></label>
                                <input type="checkbox" name="mon-1pm" id="avail-mon-1pm" aria-describedby="avail-mon-1pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="1" data-index="2"><label for="avail-tue-1pm" id="avail-tue-1pm-label"><span class="box" data-checked-time="You are available Tuesdays at &lt;time&gt;1pm&lt;/time&gt;." data-unchecked-time="Are you available Tuesdays at &lt;time&gt;1pm&lt;/time&gt;?">Are you available Tuesdays at <time>1pm</time>?</span></label>
                                <input type="checkbox" name="tue-1pm" id="avail-tue-1pm" aria-describedby="avail-tue-1pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="2" data-index="3"><label for="avail-wed-1pm" id="avail-wed-1pm-label"><span class="box" data-checked-time="You are available Wednesdays at &lt;time&gt;1pm&lt;/time&gt;." data-unchecked-time="Are you available Wednesdays at &lt;time&gt;1pm&lt;/time&gt;?">Are you available Wednesdays at <time>1pm</time>?</span></label>
                                <input type="checkbox" name="wed-1pm" id="avail-wed-1pm" aria-describedby="avail-wed-1pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="3" data-index="4"><label for="avail-thur-1pm" id="avail-thur-1pm-label"><span class="box" data-checked-time="You are available Thursdays at &lt;time&gt;1pm&lt;/time&gt;." data-unchecked-time="Are you available Thursdays at &lt;time&gt;1pm&lt;/time&gt;?">Are you available Thursdays at <time>1pm</time>?</span></label>
                                <input type="checkbox" name="thur-1pm" id="avail-thur-1pm" aria-describedby="avail-thur-1pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="4" data-index="5"><label for="avail-fri-1pm" id="avail-fri-1pm-label"><span class="box" data-checked-time="You are available Fridays at &lt;time&gt;1pm&lt;/time&gt;." data-unchecked-time="Are you available Fridays at &lt;time&gt;1pm&lt;/time&gt;?">Are you available Fridays at <time>1pm</time>?</span></label>
                                <input type="checkbox" name="fri-1pm" id="avail-fri-1pm" aria-describedby="avail-fri-1pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="5" data-index="6"><label for="avail-sat-1pm" id="avail-sat-1pm-label"><span class="box" data-checked-time="You are available Saturdays at &lt;time&gt;1pm&lt;/time&gt;." data-unchecked-time="Are you available Saturdays at &lt;time&gt;1pm&lt;/time&gt;?">Are you available Saturdays at <time>1pm</time>?</span></label>
                                <input type="checkbox" name="sat-1pm" id="avail-sat-1pm" aria-describedby="avail-sat-1pm">
                                <div>
                                </div>
                            </td>
                        </tr>
                    
                        <tr data-time="2">
                            <th>2:00pm</th>
                            <td data-dow="6" data-index="0"><label for="avail-sun-2pm" id="avail-sun-2pm-label"><span class="box" data-checked-time="You are available Sundays at &lt;time&gt;2pm&lt;/time&gt;." data-unchecked-time="Are you available Sundays at &lt;time&gt;2pm&lt;/time&gt;?">Are you available Sundays at <time>2pm</time>?</span></label>
                                <input type="checkbox" name="sun-2pm" id="avail-sun-2pm" aria-describedby="avail-sun-2pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="0" data-index="1"><label for="avail-mon-2pm" id="avail-mon-2pm-label"><span class="box" data-checked-time="You are available Mondays at &lt;time&gt;2pm&lt;/time&gt;." data-unchecked-time="Are you available Mondays at &lt;time&gt;2pm&lt;/time&gt;?">Are you available Mondays at <time>2pm</time>?</span></label>
                                <input type="checkbox" name="mon-2pm" id="avail-mon-2pm" aria-describedby="avail-mon-2pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="1" data-index="2"><label for="avail-tue-2pm" id="avail-tue-2pm-label"><span class="box" data-checked-time="You are available Tuesdays at &lt;time&gt;2pm&lt;/time&gt;." data-unchecked-time="Are you available Tuesdays at &lt;time&gt;2pm&lt;/time&gt;?">Are you available Tuesdays at <time>2pm</time>?</span></label>
                                <input type="checkbox" name="tue-2pm" id="avail-tue-2pm" aria-describedby="avail-tue-2pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="2" data-index="3"><label for="avail-wed-2pm" id="avail-wed-2pm-label"><span class="box" data-checked-time="You are available Wednesdays at &lt;time&gt;2pm&lt;/time&gt;." data-unchecked-time="Are you available Wednesdays at &lt;time&gt;2pm&lt;/time&gt;?">Are you available Wednesdays at <time>2pm</time>?</span></label>
                                <input type="checkbox" name="wed-2pm" id="avail-wed-2pm" aria-describedby="avail-wed-2pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="3" data-index="4"><label for="avail-thur-2pm" id="avail-thur-2pm-label"><span class="box" data-checked-time="You are available Thursdays at &lt;time&gt;2pm&lt;/time&gt;." data-unchecked-time="Are you available Thursdays at &lt;time&gt;2pm&lt;/time&gt;?">Are you available Thursdays at <time>2pm</time>?</span></label>
                                <input type="checkbox" name="thur-2pm" id="avail-thur-2pm" aria-describedby="avail-thur-2pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="4" data-index="5"><label for="avail-fri-2pm" id="avail-fri-2pm-label"><span class="box" data-checked-time="You are available Fridays at &lt;time&gt;2pm&lt;/time&gt;." data-unchecked-time="Are you available Fridays at &lt;time&gt;2pm&lt;/time&gt;?">Are you available Fridays at <time>2pm</time>?</span></label>
                                <input type="checkbox" name="fri-2pm" id="avail-fri-2pm" aria-describedby="avail-fri-2pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="5" data-index="6"><label for="avail-sat-2pm" id="avail-sat-2pm-label"><span class="box" data-checked-time="You are available Saturdays at &lt;time&gt;2pm&lt;/time&gt;." data-unchecked-time="Are you available Saturdays at &lt;time&gt;2pm&lt;/time&gt;?">Are you available Saturdays at <time>2pm</time>?</span></label>
                                <input type="checkbox" name="sat-2pm" id="avail-sat-2pm" aria-describedby="avail-sat-2pm">
                                <div>
                                </div>
                            </td>
                        </tr>
              
                        <tr data-time="3">
                            <th>3:00pm</th>
                            <td data-dow="6" data-index="0"><label for="avail-sun-3pm" id="avail-sun-3pm-label"><span class="box" data-checked-time="You are available Sundays at &lt;time&gt;3pm&lt;/time&gt;." data-unchecked-time="Are you available Sundays at &lt;time&gt;3pm&lt;/time&gt;?">Are you available Sundays at <time>3pm</time>?</span></label>
                                <input type="checkbox" name="sun-3pm" id="avail-sun-3pm" aria-describedby="avail-sun-3pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="0" data-index="1"><label for="avail-mon-3pm" id="avail-mon-3pm-label"><span class="box" data-checked-time="You are available Mondays at &lt;time&gt;3pm&lt;/time&gt;." data-unchecked-time="Are you available Mondays at &lt;time&gt;3pm&lt;/time&gt;?">Are you available Mondays at <time>3pm</time>?</span></label>
                                <input type="checkbox" name="mon-3pm" id="avail-mon-3pm" aria-describedby="avail-mon-3pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="1" data-index="2"><label for="avail-tue-3pm" id="avail-tue-3pm-label"><span class="box" data-checked-time="You are available Tuesdays at &lt;time&gt;3pm&lt;/time&gt;." data-unchecked-time="Are you available Tuesdays at &lt;time&gt;3pm&lt;/time&gt;?">Are you available Tuesdays at <time>3pm</time>?</span></label>
                                <input type="checkbox" name="tue-3pm" id="avail-tue-3pm" aria-describedby="avail-tue-3pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="2" data-index="3"><label for="avail-wed-3pm" id="avail-wed-3pm-label"><span class="box" data-checked-time="You are available Wednesdays at &lt;time&gt;3pm&lt;/time&gt;." data-unchecked-time="Are you available Wednesdays at &lt;time&gt;3pm&lt;/time&gt;?">Are you available Wednesdays at <time>3pm</time>?</span></label>
                                <input type="checkbox" name="wed-3pm" id="avail-wed-3pm" aria-describedby="avail-wed-3pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="3" data-index="4"><label for="avail-thur-3pm" id="avail-thur-3pm-label"><span class="box" data-checked-time="You are available Thursdays at &lt;time&gt;3pm&lt;/time&gt;." data-unchecked-time="Are you available Thursdays at &lt;time&gt;3pm&lt;/time&gt;?">Are you available Thursdays at <time>3pm</time>?</span></label>
                                <input type="checkbox" name="thur-3pm" id="avail-thur-3pm" aria-describedby="avail-thur-3pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="4" data-index="5"><label for="avail-fri-3pm" id="avail-fri-3pm-label"><span class="box" data-checked-time="You are available Fridays at &lt;time&gt;3pm&lt;/time&gt;." data-unchecked-time="Are you available Fridays at &lt;time&gt;3pm&lt;/time&gt;?">Are you available Fridays at <time>3pm</time>?</span></label>
                                <input type="checkbox" name="fri-3pm" id="avail-fri-3pm" aria-describedby="avail-fri-3pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="5" data-index="6"><label for="avail-sat-3pm" id="avail-sat-3pm-label"><span class="box" data-checked-time="You are available Saturdays at &lt;time&gt;3pm&lt;/time&gt;." data-unchecked-time="Are you available Saturdays at &lt;time&gt;3pm&lt;/time&gt;?">Are you available Saturdays at <time>3pm</time>?</span></label>
                                <input type="checkbox" name="sat-3pm" id="avail-sat-3pm" aria-describedby="avail-sat-3pm">
                                <div>
                                </div>
                            </td>
                        </tr>
                     
                        <tr data-time="4">
                            <th>4:00pm</th>
                            <td data-dow="6" data-index="0"><label for="avail-sun-4pm" id="avail-sun-4pm-label"><span class="box" data-checked-time="You are available Sundays at &lt;time&gt;4pm&lt;/time&gt;." data-unchecked-time="Are you available Sundays at &lt;time&gt;4pm&lt;/time&gt;?">Are you available Sundays at <time>4pm</time>?</span></label>
                                <input type="checkbox" name="sun-4pm" id="avail-sun-4pm" aria-describedby="avail-sun-4pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="0" data-index="1"><label for="avail-mon-4pm" id="avail-mon-4pm-label"><span class="box" data-checked-time="You are available Mondays at &lt;time&gt;4pm&lt;/time&gt;." data-unchecked-time="Are you available Mondays at &lt;time&gt;4pm&lt;/time&gt;?">Are you available Mondays at <time>4pm</time>?</span></label>
                                <input type="checkbox" name="mon-4pm" id="avail-mon-4pm" aria-describedby="avail-mon-4pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="1" data-index="2"><label for="avail-tue-4pm" id="avail-tue-4pm-label"><span class="box" data-checked-time="You are available Tuesdays at &lt;time&gt;4pm&lt;/time&gt;." data-unchecked-time="Are you available Tuesdays at &lt;time&gt;4pm&lt;/time&gt;?">Are you available Tuesdays at <time>4pm</time>?</span></label>
                                <input type="checkbox" name="tue-4pm" id="avail-tue-4pm" aria-describedby="avail-tue-4pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="2" data-index="3"><label for="avail-wed-4pm" id="avail-wed-4pm-label"><span class="box" data-checked-time="You are available Wednesdays at &lt;time&gt;4pm&lt;/time&gt;." data-unchecked-time="Are you available Wednesdays at &lt;time&gt;4pm&lt;/time&gt;?">Are you available Wednesdays at <time>4pm</time>?</span></label>
                                <input type="checkbox" name="wed-4pm" id="avail-wed-4pm" aria-describedby="avail-wed-4pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="3" data-index="4"><label for="avail-thur-4pm" id="avail-thur-4pm-label"><span class="box" data-checked-time="You are available Thursdays at &lt;time&gt;4pm&lt;/time&gt;." data-unchecked-time="Are you available Thursdays at &lt;time&gt;4pm&lt;/time&gt;?">Are you available Thursdays at <time>4pm</time>?</span></label>
                                <input type="checkbox" name="thur-4pm" id="avail-thur-4pm" aria-describedby="avail-thur-4pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="4" data-index="5"><label for="avail-fri-4pm" id="avail-fri-4pm-label"><span class="box" data-checked-time="You are available Fridays at &lt;time&gt;4pm&lt;/time&gt;." data-unchecked-time="Are you available Fridays at &lt;time&gt;4pm&lt;/time&gt;?">Are you available Fridays at <time>4pm</time>?</span></label>
                                <input type="checkbox" name="fri-4pm" id="avail-fri-4pm" aria-describedby="avail-fri-4pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="5" data-index="6"><label for="avail-sat-4pm" id="avail-sat-4pm-label"><span class="box" data-checked-time="You are available Saturdays at &lt;time&gt;4pm&lt;/time&gt;." data-unchecked-time="Are you available Saturdays at &lt;time&gt;4pm&lt;/time&gt;?">Are you available Saturdays at <time>4pm</time>?</span></label>
                                <input type="checkbox" name="sat-4pm" id="avail-sat-4pm" aria-describedby="avail-sat-4pm">
                                <div>
                                </div>
                            </td>
                        </tr>
                     

                        <tr data-time="5">
                            <th>5:00pm</th>
                            <td data-dow="6" data-index="0"><label for="avail-sun-5pm" id="avail-sun-5pm-label"><span class="box" data-checked-time="You are available Sundays at &lt;time&gt;5pm&lt;/time&gt;." data-unchecked-time="Are you available Sundays at &lt;time&gt;5pm&lt;/time&gt;?">Are you available Sundays at <time>5pm</time>?</span></label>
                                <input type="checkbox" name="sun-5pm" id="avail-sun-5pm" aria-describedby="avail-sun-5pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="0" data-index="1"><label for="avail-mon-5pm" id="avail-mon-5pm-label"><span class="box" data-checked-time="You are available Mondays at &lt;time&gt;5pm&lt;/time&gt;." data-unchecked-time="Are you available Mondays at &lt;time&gt;5pm&lt;/time&gt;?">Are you available Mondays at <time>5pm</time>?</span></label>
                                <input type="checkbox" name="mon-5pm" id="avail-mon-5pm" aria-describedby="avail-mon-5pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="1" data-index="2"><label for="avail-tue-5pm" id="avail-tue-5pm-label"><span class="box" data-checked-time="You are available Tuesdays at &lt;time&gt;5pm&lt;/time&gt;." data-unchecked-time="Are you available Tuesdays at &lt;time&gt;5pm&lt;/time&gt;?">Are you available Tuesdays at <time>5pm</time>?</span></label>
                                <input type="checkbox" name="tue-5pm" id="avail-tue-5pm" aria-describedby="avail-tue-5pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="2" data-index="3"><label for="avail-wed-5pm" id="avail-wed-5pm-label"><span class="box" data-checked-time="You are available Wednesdays at &lt;time&gt;5pm&lt;/time&gt;." data-unchecked-time="Are you available Wednesdays at &lt;time&gt;5pm&lt;/time&gt;?">Are you available Wednesdays at <time>5pm</time>?</span></label>
                                <input type="checkbox" name="wed-5pm" id="avail-wed-5pm" aria-describedby="avail-wed-5pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="3" data-index="4"><label for="avail-thur-5pm" id="avail-thur-5pm-label"><span class="box" data-checked-time="You are available Thursdays at &lt;time&gt;5pm&lt;/time&gt;." data-unchecked-time="Are you available Thursdays at &lt;time&gt;5pm&lt;/time&gt;?">Are you available Thursdays at <time>5pm</time>?</span></label>
                                <input type="checkbox" name="thur-5pm" id="avail-thur-5pm" aria-describedby="avail-thur-5pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="4" data-index="5"><label for="avail-fri-5pm" id="avail-fri-5pm-label"><span class="box" data-checked-time="You are available Fridays at &lt;time&gt;5pm&lt;/time&gt;." data-unchecked-time="Are you available Fridays at &lt;time&gt;5pm&lt;/time&gt;?">Are you available Fridays at <time>5pm</time>?</span></label>
                                <input type="checkbox" name="fri-5pm" id="avail-fri-5pm" aria-describedby="avail-fri-5pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="5" data-index="6"><label for="avail-sat-5pm" id="avail-sat-5pm-label"><span class="box" data-checked-time="You are available Saturdays at &lt;time&gt;5pm&lt;/time&gt;." data-unchecked-time="Are you available Saturdays at &lt;time&gt;5pm&lt;/time&gt;?">Are you available Saturdays at <time>5pm</time>?</span></label>
                                <input type="checkbox" name="sat-5pm" id="avail-sat-5pm" aria-describedby="avail-sat-5pm">
                                <div>
                                </div>
                            </td>
                        </tr>
                   
                        <tr data-time="6">
                            <th>6:00pm</th>
                            <td data-dow="6" data-index="0"><label for="avail-sun-6pm" id="avail-sun-6pm-label"><span class="box" data-checked-time="You are available Sundays at &lt;time&gt;6pm&lt;/time&gt;." data-unchecked-time="Are you available Sundays at &lt;time&gt;6pm&lt;/time&gt;?">Are you available Sundays at <time>6pm</time>?</span></label>
                                <input type="checkbox" name="sun-6pm" id="avail-sun-6pm" aria-describedby="avail-sun-6pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="0" data-index="1"><label for="avail-mon-6pm" id="avail-mon-6pm-label"><span class="box" data-checked-time="You are available Mondays at &lt;time&gt;6pm&lt;/time&gt;." data-unchecked-time="Are you available Mondays at &lt;time&gt;6pm&lt;/time&gt;?">Are you available Mondays at <time>6pm</time>?</span></label>
                                <input type="checkbox" name="mon-6pm" id="avail-mon-6pm" aria-describedby="avail-mon-6pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="1" data-index="2"><label for="avail-tue-6pm" id="avail-tue-6pm-label"><span class="box" data-checked-time="You are available Tuesdays at &lt;time&gt;6pm&lt;/time&gt;." data-unchecked-time="Are you available Tuesdays at &lt;time&gt;6pm&lt;/time&gt;?">Are you available Tuesdays at <time>6pm</time>?</span></label>
                                <input type="checkbox" name="tue-6pm" id="avail-tue-6pm" aria-describedby="avail-tue-6pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="2" data-index="3"><label for="avail-wed-6pm" id="avail-wed-6pm-label"><span class="box" data-checked-time="You are available Wednesdays at &lt;time&gt;6pm&lt;/time&gt;." data-unchecked-time="Are you available Wednesdays at &lt;time&gt;6pm&lt;/time&gt;?">Are you available Wednesdays at <time>6pm</time>?</span></label>
                                <input type="checkbox" name="wed-6pm" id="avail-wed-6pm" aria-describedby="avail-wed-6pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="3" data-index="4"><label for="avail-thur-6pm" id="avail-thur-6pm-label"><span class="box" data-checked-time="You are available Thursdays at &lt;time&gt;6pm&lt;/time&gt;." data-unchecked-time="Are you available Thursdays at &lt;time&gt;6pm&lt;/time&gt;?">Are you available Thursdays at <time>6pm</time>?</span></label>
                                <input type="checkbox" name="thur-6pm" id="avail-thur-6pm" aria-describedby="avail-thur-6pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="4" data-index="5"><label for="avail-fri-6pm" id="avail-fri-6pm-label"><span class="box" data-checked-time="You are available Fridays at &lt;time&gt;6pm&lt;/time&gt;." data-unchecked-time="Are you available Fridays at &lt;time&gt;6pm&lt;/time&gt;?">Are you available Fridays at <time>6pm</time>?</span></label>
                                <input type="checkbox" name="fri-6pm" id="avail-fri-6pm" aria-describedby="avail-fri-6pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="5" data-index="6"><label for="avail-sat-6pm" id="avail-sat-6pm-label"><span class="box" data-checked-time="You are available Saturdays at &lt;time&gt;6pm&lt;/time&gt;." data-unchecked-time="Are you available Saturdays at &lt;time&gt;6pm&lt;/time&gt;?">Are you available Saturdays at <time>6pm</time>?</span></label>
                                <input type="checkbox" name="sat-6pm" id="avail-sat-6pm" aria-describedby="avail-sat-6pm">
                                <div>
                                </div>
                            </td>
                        </tr>

                        <tr data-time="7">
                            <th>7:00pm</th>
                            <td data-dow="6" data-index="0"><label for="avail-sun-7pm" id="avail-sun-7pm-label"><span class="box" data-checked-time="You are available Sundays at &lt;time&gt;7pm&lt;/time&gt;." data-unchecked-time="Are you available Sundays at &lt;time&gt;7pm&lt;/time&gt;?">Are you available Sundays at <time>7pm</time>?</span></label>
                                <input type="checkbox" name="sun-7pm" id="avail-sun-7pm" aria-describedby="avail-sun-7pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="0" data-index="1"><label for="avail-mon-7pm" id="avail-mon-7pm-label"><span class="box" data-checked-time="You are available Mondays at &lt;time&gt;7pm&lt;/time&gt;." data-unchecked-time="Are you available Mondays at &lt;time&gt;7pm&lt;/time&gt;?">Are you available Mondays at <time>7pm</time>?</span></label>
                                <input type="checkbox" name="mon-7pm" id="avail-mon-7pm" aria-describedby="avail-mon-7pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="1" data-index="2"><label for="avail-tue-7pm" id="avail-tue-7pm-label"><span class="box" data-checked-time="You are available Tuesdays at &lt;time&gt;7pm&lt;/time&gt;." data-unchecked-time="Are you available Tuesdays at &lt;time&gt;7pm&lt;/time&gt;?">Are you available Tuesdays at <time>7pm</time>?</span></label>
                                <input type="checkbox" name="tue-7pm" id="avail-tue-7pm" aria-describedby="avail-tue-7pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="2" data-index="3"><label for="avail-wed-7pm" id="avail-wed-7pm-label"><span class="box" data-checked-time="You are available Wednesdays at &lt;time&gt;7pm&lt;/time&gt;." data-unchecked-time="Are you available Wednesdays at &lt;time&gt;7pm&lt;/time&gt;?">Are you available Wednesdays at <time>7pm</time>?</span></label>
                                <input type="checkbox" name="wed-7pm" id="avail-wed-7pm" aria-describedby="avail-wed-7pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="3" data-index="4"><label for="avail-thur-7pm" id="avail-thur-7pm-label"><span class="box" data-checked-time="You are available Thursdays at &lt;time&gt;7pm&lt;/time&gt;." data-unchecked-time="Are you available Thursdays at &lt;time&gt;7pm&lt;/time&gt;?">Are you available Thursdays at <time>7pm</time>?</span></label>
                                <input type="checkbox" name="thur-7pm" id="avail-thur-7pm" aria-describedby="avail-thur-7pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="4" data-index="5"><label for="avail-fri-7pm" id="avail-fri-7pm-label"><span class="box" data-checked-time="You are available Fridays at &lt;time&gt;7pm&lt;/time&gt;." data-unchecked-time="Are you available Fridays at &lt;time&gt;7pm&lt;/time&gt;?">Are you available Fridays at <time>7pm</time>?</span></label>
                                <input type="checkbox" name="fri-7pm" id="avail-fri-7pm" aria-describedby="avail-fri-7pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="5" data-index="6"><label for="avail-sat-7pm" id="avail-sat-7pm-label"><span class="box" data-checked-time="You are available Saturdays at &lt;time&gt;7pm&lt;/time&gt;." data-unchecked-time="Are you available Saturdays at &lt;time&gt;7pm&lt;/time&gt;?">Are you available Saturdays at <time>7pm</time>?</span></label>
                                <input type="checkbox" name="sat-7pm" id="avail-sat-7pm" aria-describedby="avail-sat-7pm">
                                <div>
                                </div>
                            </td>
                        </tr>
                      
                        <tr data-time="8">
                            <th>8:00pm</th>
                            <td data-dow="6" data-index="0"><label for="avail-sun-8pm" id="avail-sun-8pm-label"><span class="box" data-checked-time="You are available Sundays at &lt;time&gt;8pm&lt;/time&gt;." data-unchecked-time="Are you available Sundays at &lt;time&gt;8pm&lt;/time&gt;?">Are you available Sundays at <time>8pm</time>?</span></label>
                                <input type="checkbox" name="sun-8pm" id="avail-sun-8pm" aria-describedby="avail-sun-8pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="0" data-index="1"><label for="avail-mon-8pm" id="avail-mon-8pm-label"><span class="box" data-checked-time="You are available Mondays at &lt;time&gt;8pm&lt;/time&gt;." data-unchecked-time="Are you available Mondays at &lt;time&gt;8pm&lt;/time&gt;?">Are you available Mondays at <time>8pm</time>?</span></label>
                                <input type="checkbox" name="mon-8pm" id="avail-mon-8pm" aria-describedby="avail-mon-8pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="1" data-index="2"><label for="avail-tue-8pm" id="avail-tue-8pm-label"><span class="box" data-checked-time="You are available Tuesdays at &lt;time&gt;8pm&lt;/time&gt;." data-unchecked-time="Are you available Tuesdays at &lt;time&gt;8pm&lt;/time&gt;?">Are you available Tuesdays at <time>8pm</time>?</span></label>
                                <input type="checkbox" name="tue-8pm" id="avail-tue-8pm" aria-describedby="avail-tue-8pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="2" data-index="3"><label for="avail-wed-8pm" id="avail-wed-8pm-label"><span class="box" data-checked-time="You are available Wednesdays at &lt;time&gt;8pm&lt;/time&gt;." data-unchecked-time="Are you available Wednesdays at &lt;time&gt;8pm&lt;/time&gt;?">Are you available Wednesdays at <time>8pm</time>?</span></label>
                                <input type="checkbox" name="wed-8pm" id="avail-wed-8pm" aria-describedby="avail-wed-8pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="3" data-index="4"><label for="avail-thur-8pm" id="avail-thur-8pm-label"><span class="box" data-checked-time="You are available Thursdays at &lt;time&gt;8pm&lt;/time&gt;." data-unchecked-time="Are you available Thursdays at &lt;time&gt;8pm&lt;/time&gt;?">Are you available Thursdays at <time>8pm</time>?</span></label>
                                <input type="checkbox" name="thur-8pm" id="avail-thur-8pm" aria-describedby="avail-thur-8pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="4" data-index="5"><label for="avail-fri-8pm" id="avail-fri-8pm-label"><span class="box" data-checked-time="You are available Fridays at &lt;time&gt;8pm&lt;/time&gt;." data-unchecked-time="Are you available Fridays at &lt;time&gt;8pm&lt;/time&gt;?">Are you available Fridays at <time>8pm</time>?</span></label>
                                <input type="checkbox" name="fri-8pm" id="avail-fri-8pm" aria-describedby="avail-fri-8pm">
                                <div>
                                </div>
                            </td>
                            <td data-dow="5" data-index="6"><label for="avail-sat-8pm" id="avail-sat-8pm-label"><span class="box" data-checked-time="You are available Saturdays at &lt;time&gt;8pm&lt;/time&gt;." data-unchecked-time="Are you available Saturdays at &lt;time&gt;8pm&lt;/time&gt;?">Are you available Saturdays at <time>8pm</time>?</span></label>
                                <input type="checkbox" name="sat-8pm" id="avail-sat-8pm" aria-describedby="avail-sat-8pm">
                                <div>
                                </div>
                            </td>
                        </tr>
                       


                    </tbody>
                </table>
                <br>

                <button id="create" type=" submit ">Generate Meeting Link</button>

            </form>

        </div>

       
        <div class="column1"  >
            <h3>Times Available for:</h3>
            <u><h2 id="meetName"></h2></u>
            <br>
            <h3>Length of Meeting:</h3>
            <u><h2 id="meetLength"></h2></u>
            <br>
         
          
            <p id="p1"></p>
            <p id="t1">Times go here</p>
            <p id="b1"></p>
            <p id="p2"></p>
            <p id="t2">Times go here</p>
            <p id="b2"></p>
            <p id="p3"></p>
            <p id="t3">Times go here</p>
            <p id="b3"></p>
            <p id="p4"></p>
            <p id="t4">Times go here</p>
            <p id="b4"></p>
            <p id="p5"></p>
            <p id="t5">Times go here</p>
            <p id="b5"></p>

            <h2>Optimal Meeting Times:</h2>


        </div>
    
    </div>

    <!-- <script src="../static/schedule.js"></script> -->


    <footer>
        <img src="../static/footer.jpg " alt="footer " title="footer " width="100% " height="200px ">
    </footer>
</body>

</html>

</html>